body, h1, h2, h3, h4, h5, h6, ul, ol{
    padding: 0; 
    margin: 0;
    font-family: ui-sans-serif,system-ui,sans-serif;
    list-style: none;
}

p{
    margin: 0;
}

body{
    background-color: #000000ff;
}

/* <======================== definiendo la forma de la navbar ========================> */
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.main-nav-list, .carrito-and-login-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.carrito-and-login-list{
    justify-content: end;
}

.img{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.all-width{
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav-link{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* <======================== Agregando estetica a la navbar ========================>*/

.main-nav-list{
    gap: 20px;
}

.main-nav-link{
    color: #ffffff;
    text-decoration: none;
}

.main-nav-item:hover, .carrito-and-login-link:hover, .img svg:hover{
    transition: scale 500ms;
}

.main-nav-item:hover, .carrito-and-login-link:hover, .img svg:hover{
    scale: 1.1;
}

.carrito-and-login-list{
    text-decoration: none;
}

/* <============================ secondary navbar ===============================> */

.carrito-and-login-link{
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(180deg,#3152df95,#1e254595);
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    height: 20px;
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c;
    transition-property: scale, box-shadow;
    transition-duration: 500ms;
}

.carrito-and-login-link:hover{
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c, 0 0 50px #0055ff;
}

/* <======================= Pagina principal =====================> */

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #0a217dff 0%, #000000ff 55%);
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 1px solid #fff;
}

.title{
    color: #0095ff;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 60px;
}

.presentation-subtitle{
    color: #fff;
    text-align: center;
    font-family: "Luckiest Guy";
}

/* <============================== estrellas ============================> */
#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    z-index: 0;
}

/* <=========== creando la flecha de la presentación ================> */

.presentation-row-down{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0095ff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* <================== Cards de productos ======================> */

.product-item{
    background-color: #000000;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid #fff;
}

.product-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(20px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.header{
    z-index: 10;
}

/* <============================================================> */

.product-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-title{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
}

.product-pricing{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: #cacaca;
}

.product-description{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.product-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}