body, h1, h2, h3, h4, h5, h6, ul, ol{
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
} 

p{
    margin: 0;
}

*{
    list-style: none;
}

/* <======================== definiendo la forma de la navbar ========================> */
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.main-nav-list, .carrito-and-login-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.carrito-and-login-list{
    justify-content: end;
}

.img{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.all-width{
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav-link{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* <======================== Agregando estetica a la navbar ========================>*/

.main-nav-list{
    gap: 20px;
}

.main-nav-link{
    color: #ffffff;
    text-decoration: none;
}

.main-nav-item:hover, .carrito-and-login-link:hover, .img svg:hover{
    transition: scale 500ms;
}

.main-nav-item:hover, .carrito-and-login-link:hover, .img svg:hover{
    scale: 1.1;
}

.carrito-and-login-list{
    text-decoration: none;
}

/* <============================ secondary navbar ===============================> */

.carrito-and-login-link{
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(180deg,#3152df95,#1e254595);
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 17px;
    height: 20px;
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c;
    transition-property: scale, box-shadow;
    transition-duration: 500ms;
}

.carrito-and-login-link:hover{
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c, 0 0 50px #0055ff;
}

.cart-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.close-sesion-button{
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(180deg,#3152df95,#1e254595);
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 17px;
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c;
    transition-property: scale, box-shadow;
    transition-duration: 500ms;
    cursor: pointer;
}

.close-sesion-button:hover{
    box-shadow: inset 0 6px 12px #4c64d2, 0 0 17px rgba(110, 137, 255, .77), inset 0 1px 1px #ffffff8c, 0 0 50px #0055ff;
}