body, h1, h2, h3, h4, h5, h6, ul, ol{
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
} 

p{
    margin: 0;
}

/* Creando la forma de la card */

body{
    background-color: #000;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card{
    background-color: #000000;
    width: 1200px;
    height: 600px;
    border-radius: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(50px);
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Creando la forma de la card */

.contain-information-card{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.product-card-img{
    width: 700px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    mask-image: linear-gradient(to right,black 90%, transparent);
}

.product-card-title{
    text-align: center;
    margin-top: 20px;
}

.product-card-description{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    max-width: 460px;
    overflow: hidden;
    word-wrap: break-word;
    height: 100px;
}

.product-card-year{
    margin-bottom: 30px;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #fff;
    width: 150px;
    text-align: center;
    display: inline-block;
}

.product-card-pricing{
    margin-bottom: 30px;
    font-size: 30px;
    color: rgb(165, 248, 155);
}

.product-card-stock{
    margin-bottom: 30px;
    font-size: 20px;
}

.button{
    width: 100%;
    display: flex;
}

.product-card-comprar{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 150px;
    cursor: pointer;
}